Dossiers de build Visual Studio
x64/
x86/
Debug/
Release/
ipch/

Fichiers Visual Studio
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.obj
*.iobj
*.ipdb
.vs/

Fichiers temporaires
*.tmp
*.log